# RANDOM FOREST CLASSIFIER EXAMPLE

You have imported a dataset containing on-time arrival information for a major U.S. airline. That data included 26 columns and thousands of rows, with each row representing one flight and containing information such as the flight's origin, destination, and scheduled departure time. You also loaded the data into a Jupyter notebook and used a simple Python script to create a Pandas DataFrame from it.

In [43]:
#Downloading the data
!curl https://topcs.blob.core.windows.net/public/FlightData.csv -o flightdata.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1552k  100 1552k    0     0  1503k      0  0:00:01  0:00:01 --:--:-- 1516k

In [44]:
"""importing the data using numpy 
and viewing the first 5 elements of the data""" 

import pandas as pd
data= pd.read_csv('flightdata.csv')
data.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
0,2016,1,1,1,5,DL,N836DN,1399,10397,ATL,...,2143,2102.0,-41.0,0.0,0.0,0.0,338.0,295.0,2182.0,NaN
1,2016,1,1,1,5,DL,N964DN,1476,11433,DTW,...,1435,1439.0,4.0,0.0,0.0,0.0,110.0,115.0,528.0,NaN
2,2016,1,1,1,5,DL,N813DN,1597,10397,ATL,...,1215,1142.0,-33.0,0.0,0.0,0.0,335.0,300.0,2182.0,NaN
3,2016,1,1,1,5,DL,N587NW,1768,14747,SEA,...,1335,1345.0,10.0,0.0,0.0,0.0,196.0,205.0,1399.0,NaN
4,2016,1,1,1,5,DL,N836DN,1823,14747,SEA,...,607,615.0,8.0,0.0,0.0,0.0,247.0,259.0,1927.0,NaN

In [45]:
#checking the shape of the data
#this give the row count and the column count
data.shape

(11231, 26)

In [46]:
#checking any columns has null values
data.isnull().values.any()

True

In [47]:
#checking which columns have  missing values
data.isnull().any()

YEAR                   False
QUARTER                False
MONTH                  False
DAY_OF_MONTH           False
DAY_OF_WEEK            False
UNIQUE_CARRIER         False
TAIL_NUM               False
FL_NUM                 False
ORIGIN_AIRPORT_ID      False
ORIGIN                 False
DEST_AIRPORT_ID        False
DEST                   False
CRS_DEP_TIME           False
DEP_TIME                True
DEP_DELAY               True
DEP_DEL15               True
CRS_ARR_TIME           False
ARR_TIME                True
ARR_DELAY               True
ARR_DEL15               True
CANCELLED              False
DIVERTED               False
CRS_ELAPSED_TIME       False
ACTUAL_ELAPSED_TIME     True
DISTANCE               False
Unnamed: 25             True
dtype: bool

In [48]:
#counting the number of missing values
data.isnull().sum()

YEAR                       0
QUARTER                    0
MONTH                      0
DAY_OF_MONTH               0
DAY_OF_WEEK                0
UNIQUE_CARRIER             0
TAIL_NUM                   0
FL_NUM                     0
ORIGIN_AIRPORT_ID          0
ORIGIN                     0
DEST_AIRPORT_ID            0
DEST                       0
CRS_DEP_TIME               0
DEP_TIME                 107
DEP_DELAY                107
DEP_DEL15                107
CRS_ARR_TIME               0
ARR_TIME                 115
ARR_DELAY                188
ARR_DEL15                188
CANCELLED                  0
DIVERTED                   0
CRS_ELAPSED_TIME           0
ACTUAL_ELAPSED_TIME      188
DISTANCE                   0
Unnamed: 25            11231
dtype: int64

In [49]:
#checking for data types of each feature or column
data.dtypes

YEAR                     int64
QUARTER                  int64
MONTH                    int64
DAY_OF_MONTH             int64
DAY_OF_WEEK              int64
UNIQUE_CARRIER          object
TAIL_NUM                object
FL_NUM                   int64
ORIGIN_AIRPORT_ID        int64
ORIGIN                  object
DEST_AIRPORT_ID          int64
DEST                    object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DEL15              float64
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
ARR_DEL15              float64
CANCELLED              float64
DIVERTED               float64
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
DISTANCE               float64
Unnamed: 25            float64
dtype: object

# Preparing and Cleaning The Data


Since we have seen our data is far from being clean lets clean the data

In [50]:
#since  the unnamed column has no any data we drop it
#data = data.drop('Unnamed: 25', axis=1) #Uncomment this code and run it
data.isnull().sum()

YEAR                       0
QUARTER                    0
MONTH                      0
DAY_OF_MONTH               0
DAY_OF_WEEK                0
UNIQUE_CARRIER             0
TAIL_NUM                   0
FL_NUM                     0
ORIGIN_AIRPORT_ID          0
ORIGIN                     0
DEST_AIRPORT_ID            0
DEST                       0
CRS_DEP_TIME               0
DEP_TIME                 107
DEP_DELAY                107
DEP_DEL15                107
CRS_ARR_TIME               0
ARR_TIME                 115
ARR_DELAY                188
ARR_DEL15                188
CANCELLED                  0
DIVERTED                   0
CRS_ELAPSED_TIME           0
ACTUAL_ELAPSED_TIME      188
DISTANCE                   0
Unnamed: 25            11231
dtype: int64

The DataFrame still contains a lot of missing values, but some of them aren't useful because the columns containing them are not relevant to the model that you are building. The goal of that model is to predict whether a flight you are considering booking is likely to arrive on time. If you know that the flight is likely to be late, you might choose to book another flight.

The DataFrame still contains a lot of missing values, but some of them aren't useful because the columns containing them are not relevant to the model that you are building. The goal of that model is to predict whether a flight you are considering booking is likely to arrive on time. If you know that the flight is likely to be late, you might choose to book another flight.

In [51]:
#FILTER OUT THE COLUMNS WE DONT NEED

In [52]:
data = data[["MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "ORIGIN", "DEST", "CRS_DEP_TIME", "ARR_DEL15"]]
data.isnull().sum()

MONTH             0
DAY_OF_MONTH      0
DAY_OF_WEEK       0
ORIGIN            0
DEST              0
CRS_DEP_TIME      0
ARR_DEL15       188
dtype: int64

In [53]:
data.shape

(11231, 7)

The only column that now contains missing values is the ARR_DEL15 column, which uses 0s to identify flights that arrived on time and 1s for flights that didn't.

In [54]:
#lets check the first five rows with missing values
data[data.isnull().values.any(axis=1)]

       MONTH  DAY_OF_MONTH  DAY_OF_WEEK ORIGIN DEST  CRS_DEP_TIME  ARR_DEL15
177        1             9            6    MSP  SEA           701        NaN
179        1            10            7    MSP  DTW          1348        NaN
184        1            10            7    MSP  DTW           625        NaN
210        1            10            7    DTW  MSP          1200        NaN
478        1            22            5    SEA  JFK          2305        NaN
481        1            22            5    ATL  JFK          1745        NaN
491        1            22            5    MSP  JFK          1755        NaN
499        1            23            6    JFK  ATL          1325        NaN
500        1            23            6    JFK  ATL          1540        NaN
501        1            23            6    JFK  SEA           740        NaN
502        1            23            6    JFK  ATL           610        NaN
503        1            23            6    JFK  ATL           805        NaN
504        1            23            6    JFK  ATL          1715        NaN
505        1            23            6    JFK  SEA          1825        NaN
506        1            23            6    ATL  JFK          1205        NaN
507        1            23            6    JFK  SEA          1615        NaN
511        1            23            6    ATL  JFK          1515        NaN
517        1            23            6    SEA  JFK          1150        NaN
518        1            23            6    SEA  JFK          2250        NaN
521        1            23            6    ATL  JFK          1745        NaN
523        1            23            6    JFK  ATL          1930        NaN
526        1            23            6    ATL  JFK           810        NaN
529        1            24            7    ATL  JFK           810        NaN
541        1            22            5    ATL  JFK          2050        NaN
545        1            22            5    DTW  JFK          2000        NaN
553        1            23            6    SEA  JFK           700        NaN
556        1            23            6    JFK  DTW          1900        NaN
559        1            24            7    JFK  ATL          1715        NaN
560        1            24            7    JFK  MSP          1129        NaN
561        1            24            7    JFK  ATL           820        NaN
...      ...           ...          ...    ...  ...           ...        ...
6823       8            11            4    ATL  DTW           710        NaN
6863       8            14            7    ATL  JFK          2115        NaN
6913       8            14            7    SEA  JFK          1320        NaN
6942       8            14            7    JFK  ATL          1744        NaN
6966       8            14            7    JFK  MSP          1445        NaN
6975       8            15            1    MSP  JFK          1010        NaN
7112       8            21            7    DTW  SEA          1155        NaN
7165       8            21            7    ATL  SEA          1414        NaN
7539       9             1            4    ATL  JFK          1515        NaN
7540       9             1            4    JFK  ATL          1520        NaN
7550       9             1            4    SEA  ATL          1215        NaN
8056       9            18            7    JFK  ATL          1720        NaN
8123       9            21            3    JFK  MSP          1840        NaN
8127       9            21            3    JFK  MSP          1555        NaN
8136       9            21            3    ATL  MSP          1945        NaN
8139       9            21            3    DTW  MSP          1958        NaN
8233       9            21            3    SEA  MSP          1516        NaN
8443       9            30            5    MSP  ATL          1010        NaN
9250      10            31            1    JFK  MSP           810        NaN
9807      11            18            5    SEA  MSP          1133        NaN
9836      11            18            5    DTW  MSP          1555        NaN
10181     11            30            3    MSP  ATL          1114        NaN
10557     12             8            4    ATL  DTW           900        NaN
10618     12            11            7    MSP  DTW          1155        NaN
10619     12            11            7    DTW  SEA          1545        NaN
10625     12            12            1    SEA  DTW           935        NaN
10746     12            16            5    JFK  MSP          1600        NaN
10756     12            17            6    JFK  ATL          1925        NaN
10785     12            18            7    ATL  JFK          1520        NaN
10786     12            18            7    JFK  ATL          1529        NaN

[188 rows x 7 columns]

The reason these rows are missing ARR_DEL15 values is that they all correspond to flights that were canceled or diverted.

In [55]:
#We replace the NaN values with 1 to mean the flight did not arrive on time
data = data.fillna({'ARR_DEL15': 1})
data.iloc[177:185]
data.isnull().values.any()

False

The CRS_DEP_TIME column of the dataset you are using represents scheduled departure times. The granularity of the numbers in this column â€” it contains more than 500 unique values â€” could have a negative impact on accuracy in a machine-learning model. This can be resolved using a technique called binning or quantization. What if you divided each number in this column by 100 and rounded down to the nearest integer? 1030 would become 10, 1925 would become 19, and so on, and you would be left with a maximum of 24 discrete values in this column. Intuitively, it makes sense, because it probably doesn't matter much whether a flight leaves at 10:30 a.m. or 10:40 a.m. It matters a great deal whether it leaves at 10:30 a.m. or 5:30 p.m.

In addition, the dataset's ORIGIN and DEST columns contain airport codes that represent categorical machine-learning values. These columns need to be converted into discrete columns containing indicator variables, sometimes known as "dummy" variables. In other words, the ORIGIN column, which contains five airport codes, needs to be converted into five columns, one per airport, with each column containing 1s and 0s indicating whether a flight originated at the airport that the column represents. The DEST column needs to be handled in a similar manner.

Here we do what we call enconding the data set and scalling

In [ ]:
#scaling the scheduled depature time
import math

for index, row in data.iterrows():
    data.loc[index, 'CRS_DEP_TIME'] = math.floor(row['CRS_DEP_TIME'] / 100)
data.head()

Confirm that the numbers in the CRS_DEP_TIME column now fall in the range 0 to 23:

In [ ]:
#enconding the ORIGIN and the DEST columns

In [ ]:
data = pd.get_dummies(data, columns=['ORIGIN', 'DEST'])
data.head()

The new columns have 1s and 0s indicating whether a given flight originated at or was destined for the corresponding airport

# Now Lets Build Machine Learning Model

To create a machine learning model, you need two datasets: one for training and one for testing.
You also need to separate the DataFrame into feature columns and label columns.

In [ ]:
#splitting the data into train and test
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(data.drop('ARR_DEL15', axis=1), data['ARR_DEL15'], test_size=0.2, random_state=42)

In [ ]:
#viewing the shape x_train data
train_x.shape

In [ ]:
#viewing the shape x_test data
test_x.shape

Since we want to know if the train arrived on time or not we are going to you a binary classiffier. Here we are going to use a RandomForestClassifier, which fits multiple decision trees to the data and uses averaging to boost the overall accuracy and limit overfitting.

In [ ]:
#Importing and fitting the classifier
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=13)
model.fit(train_x, train_y)

# Scoring our model or Viewing the performance of our model

In [ ]:
#Determinig the accuracy of our model.
#Note: Accuracy is prone to class imbalance so it is not
#always a good measure to determine the performance of our model
predicted = model.predict(test_x)
model.score(test_x, test_y)

The mean accuracy is 86%, which seems good on the surface. However, mean accuracy isn't always a reliable indicator of the accuracy of a classification model. Let's dig a little deeper and determine how accurate the model really is â€” that is, how adept it is at determining whether a flight will arrive on time.



There are several ways to measure the accuracy of a classification model. One of the best overall measures for a binary classification model is Area Under Receiver Operating Characteristic Curve (sometimes referred to as "ROC AUC"), which essentially quantifies how often the model will make a correct prediction regardless of the outcome.

Before you compute the ROC AUC, you must generate prediction probabilities for the test set. These probabilities are estimates for each of the classes, or answers, the model can predict. For example, [0.88199435, 0.11800565] means that there's an 89% chance that a flight will arrive on time (ARR_DEL15 = 0) and a 12% chance that it won't (ARR_DEL15 = 1). The sum of the two probabilities adds up to 100%.

In [ ]:
#calculating the probabilities
from sklearn.metrics import roc_auc_score
probabilities = model.predict_proba(test_x)
probabilities

To generate an ROC AUC score from the probabilities using scikit-learn's roc_auc_score method

In [ ]:
roc_auc_score(test_y, probabilities[:, 1])

The output from the score method reflects how many of the items in the test set the model predicted correctly. This score is skewed by the fact that the dataset the model was trained and tested with contains many more rows representing on-time arrivals than rows representing late arrivals. Because of this imbalance in the data, you're more likely to be correct if you predict that a flight will be on time than if you predict that a flight will be late.

You can learn more about the model's behavior by generating a confusion matrix, also known as an error matrix. The confusion matrix quantifies the number of times each answer was classified correctly or incorrectly. Specifically, it quantifies the number of false positives, false negatives, true positives, and true negatives. This is important, because if a binary classification model trained to recognize cats and dogs is tested with a dataset that is 95% dogs, it could score 95% simply by guessing "dog" every time. But if it failed to identify cats at all, it would be of little value.

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(test_y, predicted)

But look at the second row, which represents flights that were delayed. The first column shows how many delayed flights were incorrectly predicted to be on time. The second column shows how many flights were correctly predicted to be delayed. Clearly, the model isn't nearly as adept at predicting that a flight will be delayed as it is at predicting that a flight will arrive on time. What you want in a confusion matrix is large numbers in the upper-left and lower-right corners, and small numbers (preferably zeros) in the upper-right and lower-left corners.

Other measures of accuracy for a classification model include precision and recall. Suppose the model was presented with three on-time arrivals and three delayed arrivals, and that it correctly predicted two of the on-time arrivals, but incorrectly predicted that two of the delayed arrivals would be on time. In this case, the precision would be 50% (two of the four flights it classified as being on time actually were on time), while its recall would be 67% (it correctly identified two of the three on-time arrivals). You can learn more about precision and recall from https://en.wikipedia.org/wiki/Precision_and_recall

Scikit-learn contains a handy method named precision_score for computing precision.Precision is the positive predicted values

In [ ]:
from sklearn.metrics import precision_score

train_predictions = model.predict(train_x)
precision_score(train_y, train_predictions)

Scikit-learn also contains a method named recall_score for computing recall. Recall/sensitivity/Probability of Detection is the value os true positive rate.True positives are data point classified as positive by the model that actually are positive (meaning they are correct).

In [ ]:
from sklearn.metrics import recall_score

recall_score(train_y, train_predictions)

In the real world, a trained data scientist would look for ways to make the model even more accurate. Among other things, they would try different algorithms and take steps to tune the chosen algorithm to find the optimum combination of parameters. Another likely step would be to expand the dataset to millions of rows rather than a few thousand and also attempt to reduce the imbalance between late and on-time arrivals. But for our purposes, the model is fine as-is.

# Next we Visualize the Output of the model

In [ ]:
# Here we use matplotlib and seaborn libraries
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

The first statement is one of several magic commands supported by the Python kernel that you selected when you created the notebook. It enables Jupyter to render Matplotlib output in a notebook without making repeated calls to show. And it must appear before any references to Matplotlib itself. The final statement configures Seaborn to enhance the output from Matplotlib.

In [ ]:
#lets plot the ROC
from sklearn.metrics import roc_curve

fpr, tpr, _ = roc_curve(test_y, probabilities[:, 1])
plt.plot(fpr, tpr)
plt.plot([0, 1], [0, 1], color='grey', lw=1, linestyle='--')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')

The dotted line in the middle of the graph represents a 50-50 chance of obtaining a correct answer. The blue curve represents the accuracy of your model

The reason you built a machine-learning model is to predict whether a flight will arrive on time or late.
We write a Python function that calls the machine-learning model you built in the previous lab to compute the likelihood that a flight will be on time. Then we will use the function to analyze several flights.

In [ ]:
def predict_delay(departure_date_time, origin, destination):
    from datetime import datetime

    try:
        departure_date_time_parsed = datetime.strptime(departure_date_time, '%d/%m/%Y %H:%M:%S')
    except ValueError as e:
        return 'Error parsing date/time - {}'.format(e)

    month = departure_date_time_parsed.month
    day = departure_date_time_parsed.day
    day_of_week = departure_date_time_parsed.isoweekday()
    hour = departure_date_time_parsed.hour

    origin = origin.upper()
    destination = destination.upper()

    input = [{'MONTH': month,
              'DAY': day,
              'DAY_OF_WEEK': day_of_week,
              'CRS_DEP_TIME': hour,
              'ORIGIN_ATL': 1 if origin == 'ATL' else 0,
              'ORIGIN_DTW': 1 if origin == 'DTW' else 0,
              'ORIGIN_JFK': 1 if origin == 'JFK' else 0,
              'ORIGIN_MSP': 1 if origin == 'MSP' else 0,
              'ORIGIN_SEA': 1 if origin == 'SEA' else 0,
              'DEST_ATL': 1 if destination == 'ATL' else 0,
              'DEST_DTW': 1 if destination == 'DTW' else 0,
              'DEST_JFK': 1 if destination == 'JFK' else 0,
              'DEST_MSP': 1 if destination == 'MSP' else 0,
              'DEST_SEA': 1 if destination == 'SEA' else 0 }]

    return model.predict_proba(pd.DataFrame(input))[0][0]

This function takes as input a date and time, an origin airport code, and a destination airport code, and returns a value between 0.0 and 1.0 indicating the probability that the flight will arrive at its destination on time. It uses the machine-learning model you built in the previous lab to compute the probability. And to call the model, it passes a DataFrame containing the input values to predict_proba. The structure of the DataFrame exactly matches the structure of the DataFrame we used earlier.

#### Note:
Date input to the predict_delay function use the international date format dd/mm/year.

We then compute the probability that a flight from New York to Atlanta on the evening of October 1 will arrive on time. The year we enter is irrelevant because it isn't used by the model.

In [ ]:
predict_delay('1/10/2018 21:45:00', 'JFK', 'ATL')

In [ ]:
#Modifying the code to compute the probability that the same flight a day later will arrive on time
predict_delay('2/10/2018 21:45:00', 'JFK', 'ATL')

In [ ]:
#modifying the code to compute the probability that a morning flight the same day from Atlanta to Seattle will arrive on time
predict_delay('2/10/2018 10:00:00', 'ATL', 'SEA')

You now have an easy way to predict, with a single line of code, whether a flight is likely to be on time or late. Feel free to experiment with other dates, times, origins, and destinations. But keep in mind that the results are only meaningful for the airport codes ATL, DTW, JFK, MSP, and SEA because those are the only airport codes the model was trained with.

Let us plot the probability of on-time arrivals for an evening flight from JFK to ATL over a range of days

In [ ]:
import numpy as np

labels = ('Oct 1', 'Oct 2', 'Oct 3', 'Oct 4', 'Oct 5', 'Oct 6', 'Oct 7')
values = (predict_delay('1/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('2/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('3/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('4/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('5/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('6/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('7/10/2018 21:45:00', 'JFK', 'ATL'))
alabels = np.arange(len(labels))

plt.bar(alabels, values, align='center', alpha=0.5)
plt.xticks(alabels, labels)
plt.ylabel('Probability of On-Time Arrival')
plt.ylim((0.0, 1.0))

We  produce a graph showing the probability that flights leaving SEA for ATL at 9:00 a.m., noon, 3:00 p.m., 6:00 p.m., and 9:00 p.m. on January 30 will arrive on time.

In [ ]:
import numpy as np

labels = ("9:00 a.m.", "noon", "3:00 p.m.", "6:00 p.m.", "9:00 p.m")
values = (predict_delay('30/1/2018 09:00:00', 'SEA', 'ATL'),
          predict_delay('30/1/2018 12:00:00', 'SEA', 'ATL'),
          predict_delay('30/1/2018 15:00:00', 'SEA', 'ATL'),
          predict_delay('30/1/2018 18:00:00', 'SEA', 'ATL'),
          predict_delay('30/1/2018 21:00:00', 'SEA', 'ATL'))
alabels = np.arange(len(labels))

plt.bar(alabels, values, align='center', alpha=0.5)
plt.xticks(alabels, labels)
plt.ylabel('Probability of On-Time Arrival')
plt.ylim((0.0, 1.0))

If you are new to Matplotlib and would like to learn more about it, you will find an excellent tutorial at https://www.labri.fr/perso/nrougier/teaching/matplotlib/. There is much more to Matplotlib than what was shown here, which is one reason why it is so popular in the Python community.